<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">我的博客</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <% if (!isLogin) { %>
        <div class="nav navbar-nav navbar-right navbar-form">
          <a href="/register" class="btn btn-success">注册</a>
          <a href="/login" class="btn btn-primary">登录</a>
        </div>
        <% } else { %>
        <div class="nav navbar-nav navbar-right navbar-form">
          <button class="btn btn-warning">欢迎<strong>
              <%= userInfo.nickname %></strong></button>
          <button id="btn-logout" class="btn btn-danger">注销</button>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">发表
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/article/add">文章</a></li>
              <li><a href="#">问题</a></li>
            </ul>
          </li>
        </ul>
        <% } %>

        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入要搜索的内容">
          </div>
          <button type="submit" class="btn btn-default">搜索</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <script>
    $(function () {
      $('#btn-logout').on('click', function () {
        // console.log('我要退出!')
        $.ajax({
          url: '/logout',
          type: 'get',
          success: function (result) {
            // console.log(result)
            if (result.status === 200) {
              alert(result.msg)
              location.href = '/'
            }
          }
        })
      })
    })
  </script>